<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="com.zebra.provider.READ" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        tools:ignore="UniquePermission" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logopuskesmas"
        android:label="E-Posyandu Ibu"
        android:roundIcon="@drawable/logopuskesmas"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aplikasipetugas"
        android:usesCleartextTraffic="true"
        tools:targetApi="28">
        <activity android:name="DetailNotifInteraktif" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>
        <activity android:name="DetailNotifJadwalPosyandu" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>
        <activity android:name="Halaman_Chatting_Ibu" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>
        <activity android:name="Halamandatadanorangtuaibu" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>

        <activity android:name="Detail_Matriks_Pantau_Perkembangan_Anak" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>

        <activity android:name="DetailDataKMS" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>

        <activity android:theme="@style/Theme.HapusSplashScreen" android:name="Hal_Splash" android:exported="true" android:launchMode="singleInstance" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>
        <activity android:name="RegistrasiAkun" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>
        <activity android:name="DetailHalamanChatting" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>
        <activity android:name="Halaman_Chatting" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>
        <activity android:name="Data_KMS" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>
        <activity android:name="MatriksPantauPerkembanganAnak" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>
        <activity android:name="Detail_Pemberian_Vitamin_Dan_Obat_Cacing" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>

        <activity android:name="Pemberian_vitamin_dan_obat_cacing" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>
        <activity android:name="Detail_kesehatan_imunisasi_anak" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>

        <activity android:name="Kesehatan_imunisasi_anak" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>
        <activity android:name="Detail_Kesehatan_Bayi_Baru_Lahir" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>

        <activity android:name="Kesehatan_bayi_baru_lahir" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>

        <activity android:name="Catatan_kesehatan_ibu_nifas" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>
        <activity android:name="Detail_kesehatan_ibu_nifas" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>


        <activity android:name="Detail_kesehatan_ibu_bersalin" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>

        <activity android:name="CatatanKesehatanIbuHamil" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>
        <activity android:name="Detail_data_kesehatan_ibu_hamil" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>
        <activity android:name="Data_kesehatan_ibunifas" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>
        <activity android:name="Data_Kesehatan_Ibubersalin" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>
        <activity android:name="Data_kesehatan_ibu" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>

        <activity android:name="Detail_dataobstetri" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>
        <activity android:name="Dataobstetri" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>

        <activity android:name="Tentangaplikasi" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>

        <activity android:name="Dataorangtuadananak" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>
        <activity android:name="Jadwalposyandu" android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>

        <activity android:name="Halaman_utama_app" android:exported="true">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>

        <activity android:name="HalamanLogin" android:exported="true">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>

        <service android:label="@string/app_name" android:name="NotificationService2" android:exported="true">
            <intent-filter>
                <action android:name="NotificationService2"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

    </application>

</manifest>